# Excluded from `git archive` (NeurIPS supplementary zip).
# Review package ships code, tests, and docs; paper sources and the standalone
# license file are omitted from the supplementary archive.
paper/          export-ignore
LICENSE         export-ignore
texput.log      export-ignore
